/* =========================
   NAVBAR WRAPPER
========================= */
.navbar {
  position: fixed;
  top: 15px;
  width: 100%;

  display: flex;
  justify-content: center;

  z-index: 100;
}


/* =========================
   MAIN CAPSULE
========================= */
.nav-pill {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 35px;
  padding: 8px 28px;

  background: var(--card);
  border-radius: 250px;

  box-shadow: var(--shadow-lg);
  backdrop-filter: blur(10px);
}


/* =========================
   BRAND
========================= */
.brand {
  display: flex;
  align-items: center;
  gap: 10px;

  padding-right: 18px;
  border-right: 1px solid var(--border);
}

.brand-logo {
  width: 45px;
  height: auto;
  object-fit: contain;
}


/* =========================
   NAV ITEMS WRAPPER
========================= */
.nav-items {
  display: flex;
  align-items: center;
  gap: 6px;
}


/* =========================
   BUTTON STYLE
========================= */
.pill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 90px;
  height: 48px;

  border: none;
  background: transparent;
  border-radius: 50px;

  cursor: pointer;

  color: var(--primary);
  font-size: 12px;
  font-weight: 500;

  transition: all 0.25s ease;
}

.icon {
  font-size: 14px;
}

.pill-item:hover {
  transform: translateY(-2px);
}


/* =========================
   ACTIVE BUTTON
========================= */
.pill-item.active {
  background: var(--primary);
  color: white;

  box-shadow: var(--shadow-md);
}

.pill-item.active .icon {
  color: white;
}


/* =========================
   THEME TOGGLE
========================= */
.theme-toggle {
  width: 44px;
  height: 44px;

  border-radius: 50%;
  border: 1px solid var(--border);

  background: var(--soft);
  color: var(--primary);

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  font-size: 18px;

  transition: all 0.25s ease;
}

.theme-toggle:hover {
  transform: translateY(-2px);
  box-shadow: var(--shadow-md);
}


/* =========================
   MOBILE
========================= */
@media (max-width: 700px) {
    
  .nav-pill {
    padding: 8px 16px;
    gap: 1px;
  }
.icon {
  font-size: 13px;
}
.label{
  font-size: 10px;
}
  .pill-item {
    width: 60px;
    height: 42px;
  }
  .navbar{
    justify-content: center;
  }
}


/* =========================
   MORE MENU
========================= */
.more-wrapper {
  position: relative;
}

.more-menu {
  position: absolute;
  top: 65px;
  right: 0;

  background: var(--card);
  border-radius: 14px;
  padding: 8px;

  display: flex;
  flex-direction: column;
  gap: 6px;

  box-shadow: var(--shadow-md);
}

.dropdown-item {
  display: flex;
  align-items: center;
  gap: 8px;

  border: none;
  background: transparent;

  padding: 8px 12px;
  border-radius: 10px;

  cursor: pointer;

  color: var(--text);
}

.dropdown-item:hover {
  background: var(--soft);
}


